<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".app.ZodiFindApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZodiFind"
        tools:targetApi="31">
        <activity
            android:name=".activities.astrology.AstrologyHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tarot.TarotDeckActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tarot.TarotHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.palmistry.PalmistryCameraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.palmistry.PalmistryLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FAQActivity"
            android:exported="false" />
        <activity
            android:name=".activities.palmistry.SplashPalmistryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tarot.SplashTarotActivity"
            android:exported="false" />
        <activity
            android:name=".activities.astrology.SplashAstrologyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AboutZodifindActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CalculatorResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerificationSecondActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerificationFirstActivity"
            android:exported="false"
            android:label="@string/title_activity_verification"
            android:theme="@style/Theme.ZodiFind" />
        <activity
            android:name=".activities.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.astrology.AstrologyLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DeveloperActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>